*,
p,
html,
body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
.continer {
  max-width: 1048px;
  margin: 0 auto;
}
.head_1 {
  display: flex;
  gap: 15px;
  font-family: roboto;
  color: rgb(28, 24, 90);
  font-weight: 300;
}

.e_card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  font-family: "roboto";
  color: rgb(28, 24, 90);
  font-weight: 500;
  padding-bottom: 24px;
}

.i {
  display: flex;
  align-items: center;
  gap: 5px;
}

.head_1 img {
  height: 22px;
  width: 22px;
}
.acc {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.mng {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.logo {
  height: 40px;
  width: 90px;
}

img.small {
  height: 12px;
  width: 11px;
}

.i:hover {
  cursor: pointer;
  text-decoration: underline;
}

.f {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.b-img {
  display: flex;
  align-items: center;
  gap: 5px;
}
img.ski {
  width: 16px;
  height: 16px;
}
.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding-top: 10px;
}

.button {
  height: 40px;
  align-self: end;
  border-radius: 100rem;
  background-color: rgb(26, 17, 91);
  font-family: "roboto";
  color: white;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
.menu {
  background-color: rgb(227, 245, 251);
  padding: 10px;
  border-radius: 10px;
}
input {
  padding: 7px;
  font-family: "roboto";
  font-size: medium;
}
select {
  padding: 7px;
  font-family: "roboto";
  font-size: medium;
}
.arw {
  background-color: rgb(196, 228, 204);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 25px;
  padding: 15px;
  font-family: "roboto";
  color: rgb(26, 17, 91);
  font-weight: 450;
  width: 35%;
}
.arw p {
  margin: 0;
}
img.a-img {
  width: 44px;
  height: 44px;
}
.aarow {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
p.chk {
  padding-top: 10px;
  font-family: "roboto";
  font-size: 10px;
  color: #1a115a;
  align-items: flex-end;
  font-size: xx-small;
}
.zip {
  position: relative;
  margin-top: 12px;
}

.in-img {
  margin-top: 9px;
  padding-right: 4px;
  position: absolute;
  top: 0px;
  right: 0%;
}
.y {
  padding-right: 25px;
  width: 100%;
}

.log {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: white;
}
.log p {
  padding: 9px;
}
.log p:hover {
  background-color: rgb(227, 245, 251);
}
.msg {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  background-color: white;
}

.msg p {
  padding: 7px;
}
.msg p:hover {
  background-color: rgb(227, 245, 251);
}
.acc:hover .log {
  display: block;
}
.mng:hover .msg {
  display: block;
}
.input_1 p {
  padding-top: 20px;
  font-family: "roboto";
  font-weight: 500;
  color: rgb(28, 24, 90);
}
.hr {
  color: rgb(28, 24, 90);
}
.hday {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: whitesmoke;
  z-index: 5;
  width: 150px;
}

.hday p {
  padding: 5px;
  width: 100%;
}
.hday p:hover {
  background-color: rgb(227, 245, 251);
  cursor: pointer;
  text-decoration: underline;
}

.f:hover .hday {
  display: block;
}

.cru {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: whitesmoke;
  z-index: 5;
  width: 150px;
}
.cru p {
  padding: 5px;
  width: 100%;
}
.cru p:hover {
  background-color: rgb(227, 245, 251);
  cursor: pointer;
  text-decoration: underline;
}

.f:hover .cru {
  display: block;
}
.f:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding-top: 10px;
  }
}
